<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login & Register</title>
  <style>
    body {
      font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
      background-color: #f4f4f9;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
    }
    header {
      margin-top: -50px;
    }
    .container {
      background-color: white;
      padding: 2em;
      border-radius: 10px;
      box-shadow: 0px 15px 33px -6px rgba(0,0,0,0.74);
      width: 300px;
    }
    h1, h2 {
      text-align: center;
      color: #333;
    }
    input {
      width: 100%;
      padding: 0.5em;
      margin: 0.5em 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    button {
      width: 100%;
      padding: 0.7em;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 8px;
    }
    button:hover {
      background-color: #0056b3;
    }
    .form p {
      text-align: center;
    }
    .form a {
      text-decoration: none;
    }
    .form a:hover {
      text-decoration: underline;
    }
    #message {
      text-align: center;
      color: red;
    }
    .link {
      display: flex;
      justify-content: space-around;
      margin-right: 25px;
    }
    .link-list {
      list-style: none;
      cursor: pointer;
    }
    .link-list img {
      width: 60px;
      height: 40px;
    }
  </style>
</head>
<body>
  <header>
    <h1 style="text-align: center; color:rgb(72, 221, 171); cursor:pointer;">
      <a style="text-decoration: none;" href="/">Báo Điện Tử</a>
    </h1>
  </header>
  
  <div class="container">
    <h1>Đăng nhập/Đăng ký</h1>
    <div id="message"></div>

    <!-- Form đăng nhập -->
    <form action="/api/login" method="POST" class="form" id="login-form">
      <h2>ĐĂNG NHẬP</h2>
      <input type="email" name="email" id="login-email" placeholder="Email" required>
      <input type="password" name="password" id="login-password" placeholder="Password" required>
      <p>Quên mật khẩu: <a href="/api/forgot-password">Click me!</a></p>
      <button type="submit">Đăng nhập</button>
      <p>Chưa có tài khoản? <a id="switch-regis" href="#">Đăng ký ngay</a></p>
    </form>

    <!-- Form đăng ký -->
    <form action="/api/register" method="POST" class="form" id="register-form">
      <h2>ĐĂNG KÝ</h2>
      <input type="text" name="username" id="register-username" placeholder="Username" required>
      <input type="email" name="email" id="register-email" placeholder="Email" required>
      <input type="password" name="password" id="register-password" placeholder="Password" required>
      <button type="submit">Đăng ký</button>
      <p>Đã có tài khoản? <a id="switch-log" href="#">Đăng nhập ngay</a></p>
    </form><hr>
    
    <div class="link-group">
      <p style="text-align: center;">Đăng nhập/Đăng ký với</p>
      <ul class="link">
        <li class="link-list"><a href="/api/facebook"><img src="/facebook.jpg" alt="Facebook"></a></li>
        <li class="link-list"><a href="/api/google"><img src="/google.jpg" alt="Google"></a></li>
      </ul>
    </div>
  </div>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    const loginForm = document.getElementById('login-form');
    const registerForm = document.getElementById('register-form');
    registerForm.style.display = 'none';

    // Chuyển từ form đăng nhập sang đăng ký
    document.getElementById('switch-regis').addEventListener("click", function() {
        loginForm.style.display = 'none';
        registerForm.style.display = 'block';
    });

    // Chuyển từ form đăng ký sang đăng nhập
    document.getElementById('switch-log').addEventListener("click", function() {
        loginForm.style.display = 'block';
        registerForm.style.display = 'none';
    });
  </script>
</body>
</html>
