<h1>{{title}}</h1>
    
<form action="/product/add" method="POST">
    <input type="text" name="ProName" placeholder="ProName" required>
    <input type="text" name="TinyDes" placeholder="TinyDes" required>
    <input type="text" name="FullDes" placeholder="FullDes" required>
    <input type="number" name="Price" placeholder="Price" required>
    <input type="number" name="Quantity" placeholder="Quantity" required>
    <button type="submit">Thêm Sản phẩm</button>
</form>
</div>